

body{
    font-family: Arial, verdana;
}


header h1{
    background-color: rgb(102, 4, 4);
    color: white;
    font-family: verdana;
    text-align: center;
}

nav{
    font-size: 18px;
}

section{
    background-color: rgb(244, 188, 188);
    color:  rgb(102, 4, 4);
}

h2, h3{
    font-family: Verdana;
}

footer{
    background-color: rgb(102, 4, 4);
    color: white;
    text-align: center;
    border: 12px solid rgb(102, 4, 4);
}

hr{
    border: 1px solid rgb(102, 4, 4);
}