#Cuerpo{
    font-family: Arial, sans-serif;
    background-color: rgb(202, 202, 202);
}

#Titulo{
    color: navy;
}

.Labels{
    color:black;
}

.Ingreso{
    background-color: white;
    color: black;
}

#Boton{
    background-color: blue;
    color: white;
}