body{
    color: black;
}

header{
    text-align: center;
}
nav ul li{
    width: 120px;
    display: inline-block;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
background-color:darkturquoise;
display: block;
padding: 5px;
color: white;
text-decoration: none;
margin: 1px;
}

nav ul li a:hover{
background-color: cadetblue;
}

section{
    background-color: salmon;
    border-radius: 5px;
}

aside{
background-color: rgb(153, 152, 152);
padding: 20px;
margin: 10px 0;
border-radius: 10px;
}

h1{
 text-align: center;
 border-bottom: 2px solid black;
}

dl{
margin: 0;
}

dt{
margin-top:1px ;
font-weight: bold;
}

dd{
margin: 0 0 5px 10px;
}

html{
scroll-behavior: smooth;
}